<div class="row">
  <div class="col-md-9 col-md-offset-2">
    <span id="about">OURrestroom is a movement to educate business owners about the
    benefits of providing gender non-specific single-stall restrooms. Patrons can
    anonymously submit the name and address of a business that has single-stall restrooms
    that are gendered, and we will do the rest! The business will receive a
    postcard with facts about the benefits of creating a space for all of their
    patrons that is comfortable and easy to use.</span> <br><br>
  </div>
  <div class="col-md-9 col-md-offset-2">
    <span id="about-us">
    OURrestroom is a project conceived by Kristin Russo. After feeling
    frustrated by the many businesses she patroned that gendered their
    single-stall restrooms, she decided to do something about it.
    <br>
    Speaking with some small business owners, she found that lack of
    education about the benefits of gender-non-specific, single-stall
    restrooms was often the reasoning behind many business restroom
    policies. These discussions helped inform how OURrestroom would be built.
    <br>
    Providing anonymity to users and contacting business owners in a non-
    confrontational manner are integral features of the OURrestroom project.
    Business patrons want to feel as though they are being heard, but may
    not feel comfortable confronting business owners face-to-face. OURrestroom
    offers a space for users to be a part of a movement without the risks involved
    in in-person confrontation.
    </span>
  </div>
  </div>
</div>
