<div class="container" id="form-container-success">
  <form class="signUp" name="signUpForm" novalidate>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="name" ng-model="vm.contactInfo.name" required class="form-control input-lg" id="userName" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="userEmail" ng-model="vm.contactInfo.email" required class="form-control input-lg" id="userEmail" placeholder="Email">
    </div>
    <button type="submit" ng-click="submitContact()" ng-disabled="signUpForm.$invalid" class="btn btn-default btn-block">Submit</button>
  </form>
</div>
