<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>How It Works</h1>
    <span> Simply click on the "Educate A Business!" link, fill out the required form
    with the business name and address. Check out the "Show Businesses" page to see a listing
    of all the businesses that have been added to the database. Search the database using
    the business name. If you see that the business you would like to add is already in the
    database, simply click on the "up vote" plus ("+") sign next the business!</span>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <span>The business entered into the database will receive a postcard that looks like this:</span>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <img src="https://i.imgur.com/IUpDBTH.png">
  </div>
  <div class="col-md-6 col-md-offset-3">
    <span>On the back of the postcard will be information detailing the benefits of non-gendered,
    single stall restrooms.</span>
  </div>
</div>
