<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Congratulations!</h1><br>
    <h2>You have successfully submitted a business to our database!</h2>
    <br>
    <span>The business will receive an informational postcard detailing the
    benefits of changing their sinlge-stall, gendered restrooms to gender non-specific.</span>
    <br>
    <span>Want to stay up to date with everything going on with OUR Restroom?
    </span>
    <div class="container" id="form-container-success">
      <form class="signUp" name="signUpForm" novalidate>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="name" required class="form-control input-lg" id="userName" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="userEmail" required class="form-control input-lg" id="userEmail" placeholder="Email">
        </div>
        <button type="submit"  class="btn btn-default btn-block">Submit</button>
      </form>
      <button ui-sref="businesses" class="btn btn-default" id="back-to-biz-btn">Back to All Businesses</button>
    </div>
  </div>

