<div class="full-logo container container-fluid">
  <div class="col">
    <div class="col">
      <div class="col-md-4 col-md-pull-3">
        <img src="https://i.imgur.com/MFwXutn.png">
        <img src="https://i.imgur.com/W0vyVO8.png">
        <img src="https://i.imgur.com/Ay43np7.png">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="col">
      <div class="col-md-6 cold-md-push-3">
        <span id="welcome-copy">
          Help educate businesses with single-stall, gendered restrooms about
          the benefit of gender non-specific restrooms. Because sometimes
          gender-specific restrooms put people in uncomfortable situations!
        </span>
      </div>
    </div>
  </div>
</div>
