@import url(http://db.onlinewebfonts.com/c/d31d488d2171c1668c15962fc6cf1ef7?family=Gotham+Rounded);

*,
html,
body {
  font-family: "Gotham Rounded", sans-serif;
  max-width: 100%;
  max-height: 100%;
}

form.educate {
  padding-top: 1em;
  max-width: 13em;
  margin: 0 auto;
  text-align: center;
}
#form-container-success {
  max-width: 40rem;

}
.form-group {
  color: white;
}

.back-to-biz-btn {
  color: black;
  font-size: 2rem;
  padding-left: 1rem;
  margin-left: 1rem;
  border-radius: 1rem;
}

.search-btn {
  padding-left: 2rem;
}

.search-label {
  font-size: 3rem;
  padding-left: 3rem;
}

.input-group {
  display: inline-flex !important;
}

.add-business {
  height: 5rem;
  width: 21rem;
  font-size: 2rem;
  padding-top: 1rem;
}

.search-stuff {
  display: flex;
}

.full-logo img {
  max-width: 55%;
  max-height: 40%;
  z-index: 100;
  margin-left: 5em;
}
h1 {
  color: white !important;
  font-family: "Gotham Rounded", sans-serif !important;
}

body {
  background-color: #53B969 !important;
  z-index: -100;
  font-size: 5em;
  color: white;
}

.navbar .navbar-default{
  background-color: #53B969;

}
input .form-control {
  border-radius: 4em;
}

label {
  font-size: 3rem;
}

ul
{
list-style-type: none;
}

#biz-name {
  font-size: 3rem;
}

.col-md-9{
  padding-top: 2em;
  font-size: 2rem;
  text-align: center;
  color: white;
}

.col-md-6 {
  padding-top: 2em;
  font-size: 2rem;
  text-align: center;
  color: white;
}

span {
  color: white;
}

h4 {
  color: white !important;
}

.glyphicon-ok {
  color: black
}


.full-logo-about {
  width: 15em;
  height: 10em;
}

.container-fluid {
  background-color: #53B969;
  max-width: 100%
  color: white;
}

.navbar-nav li{
  font-family: "Gotham Rounded";
  font-size: 3rem;
  color: white;
  height: 7rem;
}

#to-biz-form {
  color: black !important;
}

a {
  color: white !important;
  padding-left: 1rem;
}

.navbar-header li a{
  padding-top: 2rem !important;
  padding-left: 8rem;
}

.navbar-header img {
  margin-left: 0em;
}

.btn-block {
  height: 5rem !important;
  font-size: 3rem !important;
}

.footer {
  padding-top: 2em;
  bottom: 0;
}

.footer li {
  padding-left: 15rem;
}
