<div class=wrapper>
  <div class="full-logo-about">
    <img ui-sref="#" src="https://i.imgur.com/e8WDgbr.png">
  </div>
  <div class="text">
    <span>Our Restroom is a movement to educate business owners about the
    benefits of genderless single-stall restrooms. Patrons can anonymously
    submit the name and address of a business that has single-stall restrooms
    that are gendered, and we will do the rest! The business will receive a
    postcard with facts about the benefits of creating a space for all of their
    patrons that is comfortable and easy to use.</span>
  </div>
</div>
