<div class="row">
  <div class="col-md-9 col-md-offset-2">
    <span id="about">Our Restroom is a movement to educate business owners about the
    benefits of providing gender non-specific single-stall restrooms. Patrons can
    anonymously submit the name and address of a business that has single-stall restrooms
    that are gendered, and we will do the rest! The business will receive a
    postcard with facts about the benefits of creating a space for all of their
    patrons that is comfortable and easy to use.</span> <br><br>
    <span> Simply click on the "Educate A Business!" link, fill out the required form
    with the business name and address. Check out the "Show Businesses" page to see a listing
    of all the businesses that have been added to the database. Search the database using
    the business name. If you see that the business you would like to add is already in the
    database, simply click on the "up vote" plus ("+") sign next the business!</span>
  </div>
</div>
