<h1 class="text-center">Businesses</h1>

<div class="row">
  <div class="col-xs-8">
  </div>
  <div class="col-xs-4 text-right">
    <a ui-sref="add" id="to-biz-form" class="btn btn-default">
      <span class="glyphicon glyphicon-ok"></span> Add Business
    </a>
  </div>
</div>
<div class="row">
  <ul>
    <li ng-repeat="biz in vm.businessService.businesses track by $index">
      <span id="biz-name">{{biz.name}}&nbsp;&nbsp; <span class="glyphicon glyphicon-plus" ng-click="vm.upVote(biz)"></span>&nbsp;&nbsp; {{biz.upVote}}</span>
      <h4>{{biz.address1}}</h4>
      <h4>{{biz.address2}}</h4>
      <h4>{{biz.twitterHandle}}</h4>
    </li>
  </ul>
</div>
