<h1 class="text-center">Businesses</h1>

<div class="row">
 <div class="col-sm-12 col-md-8 pull-left">
  <label for="search-bar" class="search-label">Search</label>
 </div>
 <div class="search-stuff col-sm-12 col-md-12 pull-left">
   <div class="col-sm-8 col-md-8 pull-left">
      <form class="navbar-form search-bar" role="search">
          <div class="input-group search-input">
            <input type="text" class="form-control" id="search-bar" placeholder="ex: 'Burger Kween'" name="q">
            <button class="btn btn-default search-btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
      </form>
    </div>
    <!-- <div class="col-sm-4">
    </div> -->
    <div class="col pull-right">
      <a ui-sref="add" id="to-biz-form" class="btn btn-default add-business">
        <span class="glyphicon glyphicon-ok"></span> Add Business
      </a>
    </div>
  </div>
</div>

<!-- <div class="row">
</div> -->
<div class="row">
  <ul>
    <li ng-repeat="biz in vm.businessService.businesses track by $index">
      <span id="biz-name">{{biz.name}}&nbsp;&nbsp; <span class="glyphicon glyphicon-plus" ng-click="vm.upVote(biz)"></span>&nbsp;&nbsp; {{biz.upVote}} up votes</span>
      <h4>{{biz.address1}}</h4>
      <h4>{{biz.address2}}</h4>
      <h4>{{biz.twitterHandle}}</h4>
    </li>
  </ul>
</div>
